# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.test
.env.production
.env.local

# Build output
dist/
build/
coverage/

# Optional npm cache directory
.npm/

# Yarn Integrity file
.yarn-integrity

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Optional lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
